services:
  redis:
    image: redis
    container_name: mba_redis
    ports:
      - "6379:6379"
    restart: always
  qdrant:
    image: qdrant/qdrant:latest
    container_name: mba_qdrant
    ports:
      - "6333:6333"
    volumes:  
      - ./qdrant_data:/qdrant/storage
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 4G

